<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h1>Mvc Mailer</h1>
    @RenderBody()
</body>
</html>
