@using ToolDepot.Helpers.Extensions
@model ToolDepot.Areas.Admin.Models.UploadImageModel


@Styles.Render("~/Content/imageUpload")

@using (Html.BeginForm("UploadPic", "Product", FormMethod.Post, new {Area="Admin", id="uploadPicForm", enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Profile Picture</legend>
        <div class="well">
            Choose image to upload.  You can upload JPG, GIF, or PNG files.
            <br /><strong>For best results, your photo should be at least 200x200.</strong>
            <br />Note: Uploading a photo may result in a slight delay.
        </div>
        <div>
            @Html.FileFor(m => m.File)
            @Html.HiddenFor(model => model.X)
            @Html.HiddenFor(model => model.Y)
            @Html.HiddenFor(model => model.Width)
            @Html.HiddenFor(model => model.Height)
            <div id="upload-cut">
                <img alt="Field for image cutting" id="preview" src="/Images/empty.png" />
            </div>
        </div>

        <a href="#" class="btn" id="cancelProfileUploadLink">Cancel</a>
        <input type="submit" id="profilePicSubmitButton" value="Save" class="btn btn-primary disabled" />
    </fieldset>
}

@Scripts.Render("~/bundles/imageUpload")