<header id="topNavHeader">
    <div class="container">
        <div class="pull-left brand margin-right">
            <a href="@Url.Action("Index", "Home")" class="brand">
                <img src="/content/images/ToolDepotLogo.jpg" class="logo" alt="logo" />
            </a>
        </div>
        <nav class="pull-left brand">
            <ul>
                @*<li id="home">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>*@
                <li id="demo1">
                    @Html.ActionLink("Demo 1", "Demo1", "Home")
                </li>
                <li id="demo2">
                    @Html.ActionLink("Demo 2", "Demo2", "Home")
                </li>
                <li id="demo3">
                    @Html.ActionLink("Demo 3", "Demo3", "Home")
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</header>
