@model ToolDepot.Models.Products.ProductModel

@{
    ViewBag.Title = Model.Product.Name + " | " + Model.Product.Category.CategoryName;
}
<link rel="stylesheet" href="/Content/css/jRating.jquery.css"/>
<div class="span10 no-margin">
    <section class="margin-bottom">
        <div class="span2">
            <img src="@Model.Product.Image" class="img-rounded pull-left" alt="@Model.Product.Name"/>
        </div>
        <div class="span8">
            <h1>@Html.DisplayFor(model => model.Product.Name)</h1>
            <div id="rating"></div>
            @Model.OverallRating
        </div>
        <div class="clearfix"></div>
    </section>
    <p class="margin-bottom">
        @Html.DisplayFor(model => model.Product.Description)
    </p>

    <ul class="nav nav-tabs margin-top" id="descriptionTags">
        @if (Model.Product.ProductSpecs.Any())
        {
            <li>
                <a href="#specs">Specifications
                </a>
            </li>
        }
        @if (Model.Product.ProductFeatures.Any())
        {
            <li>
                <a href="#features">Features
                </a>
            </li>
        }
    </ul>
    <div class="tab-content margin-bottom" id="tabContent">
        @if (Model.Product.ProductSpecs.Any())
        {
            <div class="tab-pane" id="specs">
                <table class="table table-striped">
                    @foreach (var item in Model.Product.ProductSpecs)
                    {
                        <tr>
                            <td>
                                @item.SpecType
                            </td>
                            <td>
                                @item.SpecName
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        @if (Model.Product.ProductFeatures.Any())
        {
            <div class="tab-pane" id="features">
                <ul>
                    @foreach (var item in Model.Product.ProductFeatures)
                    {
                        <li>
                            @item.Feature
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div>
        <div style="border-bottom: 1px solid #ccc; padding-bottom: 5px">
            <a href="#ReviewModal" data-toggle="modal" role="button" class="btn btn-primary">Write a Review</a>
        </div>
        @if (Model.Product.ProductReviews.Any())
        {
            foreach (var review in Model.Product.ProductReviews)
            {
            <div>
                @review.UserName
            </div>
            }
        }
    </div>
    @Html.Action("Review", Model.Product.Id)
    
</div>
<div class="span2 related-products">
    <div class="related-title">
        <h4 class="no-margin">Customers also viewed...</h4>
    </div>
    <div>
        @foreach (var item in @Model.Product.Category.Products.SkipWhile(x => x.Id == Model.Product.Id).Take(4))
        {
            if (item.Id != Model.Product.Id)
            {
            <div class="margin-10 padding-10">

                <div class="margin-bottom-5">
                    <a href="/Products/Product/@item.Id">
                        <img alt="@item.Name" src="/Content/images/Products/@item.Image" class="h100" />
                    </a>
                </div>
                <div>
                    <a href="/Products/Product/@item.Id">
                        @item.Name
                    </a>
                </div>
            </div>
            }
        }
    </div>
</div>
<script>
    $(function () {
        $('#descriptionTags a').click(function (e) {
            e.preventDefault();

            $(this).tab('show');
        });
        $("#descriptionTags li:first").addClass('active');
        $("#tabContent .tab-pane:first").addClass('active');

        $('#stars').jRating('@Model.OverallRating', { maxvalue: 5, increment: .5 });
    });
</script>
<script src="/Scripts/jRating.jquery.js"></script>