@model ToolDepot.Models.Products.RequestQuoteModel

@{
    ViewBag.Title = "Request A Quote";
}

<h2>Request A Quote</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>Fill out the form below to get a quote</legend>
            <div>
                @Html.LabelFor(x => x.RequestQuote.CompanyName)
                @Html.EditorFor(x => x.RequestQuote.CompanyName)

                @Html.LabelFor(x => x.RequestQuote.FirstName)
                @Html.EditorFor(x => x.RequestQuote.FirstName)

                @Html.LabelFor(x => x.RequestQuote.LastName)
                @Html.EditorFor(x => x.RequestQuote.LastName)

                @Html.LabelFor(x => x.RequestQuote.Address)
                @Html.EditorFor(x => x.RequestQuote.Address)

                @Html.LabelFor(x => x.RequestQuote.City)
                @Html.EditorFor(x => x.RequestQuote.City)

                @Html.LabelFor(x => x.RequestQuote.State)
                @Html.EditorFor(x => x.RequestQuote.State)

                @Html.LabelFor(x => x.RequestQuote.ZipCode)
                @Html.EditorFor(x => x.RequestQuote.ZipCode)

                @Html.LabelFor(x => x.RequestQuote.PhoneNumber)
                @Html.EditorFor(x => x.RequestQuote.PhoneNumber)

                @Html.LabelFor(x => x.RequestQuote.FaxNumber)
                @Html.EditorFor(x => x.RequestQuote.FaxNumber)

                @Html.LabelFor(x => x.RequestQuote.Email)
                @Html.EditorFor(x => x.RequestQuote.Email)

                @Html.LabelFor(x=>x.RequestQuote.Message)
                @Html.TextAreaFor(x=>x.RequestQuote.Message)
                    </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
