@model dynamic

@{
    ViewBag.Title = "title";
}
<style>
    .ad-slot {
        border: 2px solid #ccc;
        padding: 5px;
        margin: 10px;
    }

        .ad-slot .image {
            height: 115px;
            width: 170px;
        }

        .ad-slot .title {
        }

            .ad-slot .title .title-link {
                display: block;
            }

        .ad-slot .description {
        }
</style>
<h2>Demo 1</h2>

<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
<div class="pull-left ad-slot">
    <img src="/Content/images/logo.jpg" class="image" />
    <div class="title">
        <h4 class="margin-bottom-5">
            @Html.ActionLink("Title", "Demo2", "Home", null, new { @class = "title-link" })
        </h4>
    </div>
    <p class="description">
        <small>Short Description</small>
    </p>
</div>
